.filter-container {
    resize: both;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    .filter-div {
        .card-note{
            margin: 20px;
            width: 200px;
            height: 200px;
            font-weight: bold;
            background-color: antiquewhite;
        }
    }
}

.note-details-card {
    margin:20px;
    width: 200px;;
    height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(120, 120, 236);
}

.search-filter{
    flex: 1;
    display: flex;
    justify-content: center;
}

.no-filter{
    flex: 1;
    display: flex;
    justify-content: center;
}