<div class= "filter-container">
    <div class="filter-div" *ngFor="let note of notes">
        <mat-card class="card-note">
            <mat-card-title>
                {{note.title}}
            </mat-card-title>
    
            <mat-card-content>
                {{note.description}}
            </mat-card-content>

            <mat-card-footer>
                <div class="note-buttons" *ngFor="let button of buttons">
                    <button mat-button>
                        <mat-icon>{{button.name}}</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card> 
    </div>
</div>
<mat-card class = "add-note-card">
    <button mat-icon-button (click)="addNotePage()">
        <mat-icon>+</mat-icon>
    </button>
</mat-card>
