<h1>Add a note</h1>
<form class="add-note-form">
    <mat-form-field>
        <label>Note</label><br>
        <input matInput name="inputNote" placeholder="Enter note"/>
    </mat-form-field><br>

    <mat-form-field>
        <label>Description</label><br>
        <textarea matInput  name="inputNote" placeholder="Enter description"></textarea>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Note Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let cat of category" [value]="cat.value">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button color="primary" (click)="addNewNote(title, description)">ADD</button>
</form>
