<div class= "filter-container">
    <div class="filter-div" *ngFor="let note of notes">
        <div class="note-title">
            {{note.title}}
        </div>
        <div class="note-content">
            <p>Description</p>
        </div>
        <mat-card class="note-card">
            
            <div class="note-buttons" *ngFor="let button of buttons">
                <button mat-button>
                    <mat-icon>mic</mat-icon>
                </button>
            </div>
        </mat-card>
    </div>
    <mat-card class = "add-note-card">
        <button mat-icon-button>
            <mat-icon>+</mat-icon>
        </button>
    </mat-card>
</div>