<h1>Edit the note</h1>
<form class="edit-note-form" [formGroup]="noteForm">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput name="title" formControlName="title" placeholder="Enter title" [(ngModel)]="title"/>
        <mat-error *ngIf="titleControl?.invalid && (titleControl?.dirty || titleControl?.touched)" class="alert">
          *Title is required.
        </mat-error>
    </mat-form-field><br>

    <mat-form-field>
        <mat-label>Description *</mat-label><br>
        <textarea matInput  name="inputNote" formControlName="description" placeholder="Enter description" [(ngModel)]="description"></textarea>
        <mat-error *ngIf="descriptionControl?.invalid && (descriptionControl?.dirty || descriptionControl?.touched)" class="alert">
          *Description is required.
        </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let cat of category" [value]="cat.value" [(ngModel)]="selectCategory">
            {{cat.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryControl?.invalid && (categoryControl?.dirty || categoryControl?.touched)" class="alert">
            *Category is required.
        </mat-error>
      </mat-form-field>
      <br>
    <button mat-raised-button color="primary" (click)="edit()" >EDIT</button>
</form>
